@import url("https://fonts.googleapis.com/css2?family=Modak&display=swap");
.Cabecalho{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60%;
    font-family: 'Modak';
    padding: 10px;
    margin: 10px 0;
    z-index: 1;
}

@media(max-width:621px){
    .Cabecalho{
        width: 100%;
    }
    .Cabecalho img{
        width: 60px;
        height: 55px;
    }
    .Cabecalho a{
        margin: 0 3.5px;
    }
}

.Cabecalho a{
    text-decoration: none;
    color: var(--cold-color);
    font-size: 1.5em;
    z-index: 2;
}

.Cabecalho img{
    height: 50px;
}

.Cabecalho a:hover{
    background-color: var(--cold-color);
    color: white;
    padding: 5px;
}