html,
body,
#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}

html{
  background-color: var(--Glossy-Grape);
}

:root{
  --Black: #000000;
  --Dark-Purple: #3D2645;
  --Byzantium: #832161;
  --Cerise: #DA4167;
  --Glossy-Grape:#AF9BB6;
  --Cinereous: #93827F
}


